@import "../../styles/variables"
@import "../../styles/mixins"

.navbar
    width: 100%
    height: 96px
    background-color: $bgColor
    padding-top: 29px
    display: flex
    justify-content: space-between
    overflow: hidden

    &__info
        display: flex

    &__logo
        margin-left: 60px
        margin-top: -50px

    &__number
        font-family: Roboto-Regular
        font-size: 20px
        padding-top: 8px
        cursor: pointer

    &__menu
        display: flex
        list-style: none
        gap: 16px
        font-family: Roboto-Regular
        font-size: 24px
        font-weight: 400
        padding-right: 60px

        & li
            cursor: pointer
