@import "../../styles/variables"
@import "../../styles/mixins"

.footer
    width: 100%
    height: 269px
    background: #245D51
    display: flex
    flex-direction: column
    align-items: center
    padding: 0px
    margin: 0px

    &__platform
        font-family: Roboto-Regular
        font-size: 18px
        text-align: center
        color: #FFFFFF

    &__email
        font-family: Roboto
        font-size: 16px
        text-align: center
